.div2{
    margin-bottom:0px;
    z-index:1;
    position:absolute;
    margin-top: 450px ;
    animation-name:build_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear reverse;
    
   }
.div1{
  position: absolute;
  height:50px;
}
.div7{
    position: absolute;
    }
.div3{
    z-index:1;
    margin-top: 700px;
    position: absolute;
    animation-name:road_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear reverse;
}

@keyframes road_animation {
    50%{
        right: -2800px;
    }
    75%{
        right: -2500px;
    }
    100%{
        right:-2100px;
    }
}
.div4 img{
    z-index:1;
    animation-name:run_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
   
}
@keyframes run_animation {
    
  100%{
      transform: rotate(360deg);
  }
}


@keyframes build_animation {
    50%{
        left: 0px;
    }
    75% {
        left: 10px;
    }
    100%{
        left:50px;
    }
}